################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Output
/Src/SolutionCleaner.Portal/obj
/Src/SolutionCleaner.Core/obj
/Src/.vs
